#signInBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#signInBtn:hover {
  background-color: #45a049;
}

.lectures-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.lectures-btn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.lectures-btn img {
  width: 24px;
  height: 24px;
}

#logo {
  width: 25px;
  height: 25px;
  /* object-fit: cover; */
}
