<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="home.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lectures to Notes</title>

</head>
<body>
<div class="file-upload-wrapper" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);">
  <input type="file" id="fileInput" accept="audio/*" style="display: none;" onchange="showFileName()">
  <h2 class="site-heading">LectureToNotes.ai</h2>
  <button onclick="document.getElementById('fileInput').click();">Select Files</button>
  <span id="drop-text">or drop file here</span>
  <span id="selectedFileName"></span>
</div>



<script>
  function showFileName() {
    const fileInput = document.getElementById('fileInput');
    const fileNameDisplay = document.getElementById('selectedFileName');
    if (fileInput.files.length > 0) {
      fileNameDisplay.textContent = ' ' + fileInput.files[0].name;
    } else {
      fileNameDisplay.textContent = '';
    }
  }
</script>

<script src="main.js"></script>

</body>
</html>

