{% extends "layout.html" %} {% block content %}

<h1>Lecture to Notes</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">Upload your audio file</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Drop</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
