<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/main.css" />

    {% block header %} {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="./static/logo.png" />
  </head>

  <body>
    {% block body %} {% endblock %} {% if session %}
    <!-- <h1>Welcome {{session.userinfo.sub}}!</h1> -->
    <a href="/logout" id="qsLogoutBtn">
      <button id="signInBtn">Logout</button>
    </a>
    {% else %}

    <!-- <h1 id="profileDropDown">Welcome Guest</h1> -->
    <a href="/login" id="qsLoginBtn"><button id="signInBtn">Log In</button></a>
    {% endif %}
  </body>
</html>
