{% extends "layout.html" %} {% block header %}
<link rel="stylesheet" href="static/summary.css" />

{% endblock %} {% block body %}
<script>
  function saveNotes() {
    console.log("Button clicked");
    const url = "http://localhost:3000/add_note";

    const postData = {
      user_id: "{{session.userinfo.sub}}",
      note: {{ summary|safe}},
    };

    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(postData),
    }).then((response) => {
      if (response.ok) {
        window.location.href = "http://localhost:3000/notes";
      }
      throw new Error("Network response was not ok.");
    });
  }
</script>
<div class="summary-container">
  <ul>
    {% for bp in summary %}
    <li>{{ bp }}</li>
    {% endfor %}
  </ul>
  {% if session %}

  <button class="save-btn" onclick="saveNotes()">Save Notes</button>

  {% else %}
  <span>Login to save results</span>
  {% endif %}
</div>
{% endblock %}
